body
{
	background: #202020;
}

.kotak-login
{
	margin-top: 200px;
	border: 1px solid #f8f8f8;
	border-radius: 5px; 
	box-shadow: 0px 3px 3px 0px #f4f4f4;
	padding:10px;
	background: #fff; 
}

body.penjual
{
	background: #175f05;
}

.kotak-login-penjual
{
	margin-top: 200px;
	border: 1px solid #f8f8f8;
	border-radius: 5px; 
	box-shadow: 0px 3px 3px 0px #f4f4f4;
	padding:10px;
	background: #fff; 
}

body.index
{
	background: #175f05;
}

.kotak-login-index
{
	margin-top: 200px;
	border: 1px solid #f8f8f8;
	border-radius: 5px; 
	box-shadow: 0px 3px 3px 0px #f4f4f4;
	padding:10px;
	background: #fff; 
}



