body
{
	font-family: 'Open Sans', sans-serif;
}

#wrapper
{
	width: 100%;
	background: #FFF;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-side
{
	background: #202020;
}

.navbar-side ul li
{
	border-bottom: 1px solid #FFF;
}

.navbar-side ul li:hover a
{
	color: #202020;
}

.navbar-side ul li a
{
	color: #fff;
}

#page-wrapper
{
	background: #f3f3f3;
	padding: 15px;
}


#page-inner
{
	background: #fff;
	padding: 15px;
}

/*css spesifik ke dekstop*/

@media (min-width: 768px)
{
	#page-wrapper
	{
		margin: 0 0 0 260px;
		padding: 15px;
		min-height: 1000px;
	}
	#page-inner
	{
		min-height: 800px;
	}
	.navbar-side
	{
		width: 260px;
		position: absolute;
		z-index: 1;
		min-height: 1000px;
	}

}

.top-footer
{
	color: #FFF;
	background-color: #175f05;

}
.navbar-default
{
	background-color: #175f05; 
	margin-top: 0px;
}

.navbar-default .navbar-nav li a
{
	color: #FFF;
}

.navbar-nav
{
  color: #FFF;
}

.navbar-nav li:hover
{
  background: #FFF;
  color: #40A708;
}

.text-center
{
	color: #FFF;
	text-align: left;	 
}

